.git 
.gitignore
.gitattributes
HELP.md

target/ 
*.jar
.mvn/
mvnw
mvnw.cmd
.env
.env.example
.vscode

grafana/
database/
grafana_data/
logs/
loki_data/
rabbitmq_data/
prometheus_data/
