# Application Owner / Root password (Username = SUPERADMIN), password must follow the regex rules 
SUPER_ADMIN_PASSWORD=SUPERADMIN123!

# Mail Sandbox credential
SMTP_MAIL_USERNAME=mailsandbox
SMTP_MAIL_PASSWORD=mailsandbox

# Cloudinary url credential, read cloudinary docs to get the url
CLOUDINARY_URL=cloudinary://example:example123@example

# Database (PostgreSQL) credential
POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=lumijava 

# Grafana dashboard password (Username = user)
GF_SECURITY_ADMIN_PASSWORD=grafana123