<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core">
    <Properties>
        <Property name="log.path">logs</Property>
        <Property name="log.pattern">%d{ISO8601} %-5p [%X{correlationId}] [%t] %c{1.} - %m%n</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender for Development -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}" />
        </Console>

        <!-- File Appender for All Logs -->
        <RollingFile name="FileAppender" 
                     fileName="${log.path}/application.log"
                     filePattern="${log.path}/application-%d{yyyy-MM-dd}-%i.log">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <!-- Error File Appender -->
        <RollingFile name="ErrorFileAppender" 
                     fileName="${log.path}/error.log"
                     filePattern="${log.path}/error-%d{yyyy-MM-dd}-%i.log">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </RollingFile>

        <!-- Application Logs File Appender -->
        <RollingFile name="AppFileAppender" 
                     fileName="${log.path}/app.log"
                     filePattern="${log.path}/app-%d{yyyy-MM-dd}-%i.log">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="5MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
    <Logger name="lumi.insert.app" level="DEBUG" additivity="false">
        <AppenderRef ref="ConsoleAppender" />
        <AppenderRef ref="AppFileAppender" />
        <AppenderRef ref="ErrorFileAppender" /> 
    </Logger>

    <Logger name="org.springframework" level="INFO" additivity="false">
        <AppenderRef ref="ConsoleAppender" />
        <AppenderRef ref="FileAppender" />
        <AppenderRef ref="ErrorFileAppender" /> </Logger>

    <Root level="INFO">
        <AppenderRef ref="ConsoleAppender" />
        <AppenderRef ref="FileAppender" />
        <AppenderRef ref="ErrorFileAppender" />
    </Root>
</Loggers>
</Configuration>
